# GitHub Java Ignore
*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.launch
hs_err_pid*
.classpath
.project
*.classpath
*.project
*.gradle
*.xml

# IntelliJ Ignore
/.idea/
/out/
*.iml
*.ipr
*.iws

# Folders
/bin/
/lib/
/run/
/.gradle/
/.settings/
/build/kotlin-build
/build/kotlin
/build/resources
/build/sources
/build/tmp

#Allowed
!build.gradle
