# GitHub Java Ignore
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.launch
hs_err_pid*
.classpath
.project
*.classpath
*.project
*.gradle

# IntelliJ Ignore
/.idea/
/out/
*.iml
*.ipr
*.iws

# Folders
/bin/
/run/
/.gradle/
/.settings/
/build/
/src/main/resources/assets/minecraft/*

#Allowed
!build.gradle