# GitHub Java Ignore
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.launch
hs_err_pid*
.classpath
.project
*.classpath
*.project
*.gradle

# Folders
/bin/
/run/
/.gradle/
/.settings/
/build/

#Allowed
!build.gradle